.header__title{
  display: flex;
  width: 730px;
  flex-flow: row wrap;
  align-items: center;
  margin: 0;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 1;
}
